flows.json
[{"id":"71b151d8.8537","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4faa324d.8ab4dc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31e5827f.b0af8e","type":"ui_tab","z":"","name":"Chat","icon":"dashboard","disabled":false,"hidden":false},{"id":"6d62f7af.356388","type":"ui_group","z":"","name":"Input","tab":"31e5827f.b0af8e","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8eba456.9540c8","type":"ui_group","z":"","name":"","tab":"b69bec61.abce5","order":3,"disp":true,"width":"11","collapse":false},{"id":"2ec13e0d.9c6a62","type":"ui_group","z":"","name":"","tab":"b69bec61.abce5","order":1,"disp":true,"width":"11","collapse":false},{"id":"b69bec61.abce5","type":"ui_tab","z":"","name":"Movie Booking Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1b11140.4e4ef","type":"inject","z":"71b151d8.8537","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello! Good Morning!","payloadType":"str","x":200,"y":240,"wires":[["6c588832.88ef58"]]},{"id":"6c588832.88ef58","type":"watson-conversation-v1","z":"71b151d8.8537","name":"","workspaceid":"42529d21-4d14-4668-aac0-37f41544577c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":410,"y":300,"wires":[["e704461d.d7ef08","ab838f4b.ccf52"]]},{"id":"ab838f4b.ccf52","type":"debug","z":"71b151d8.8537","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":360,"wires":[]},{"id":"c228d2ff.29867","type":"ui_text","z":"71b151d8.8537","group":"a8eba456.9540c8","order":2,"width":"11","height":"3","name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":280,"wires":[]},{"id":"421f7a9d.904644","type":"function","z":"71b151d8.8537","name":"Text response parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.text;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.text[i]\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["c228d2ff.29867","f139149c.3cf058"]]},{"id":"75159df3.336604","type":"ui_form","z":"71b151d8.8537","name":"","label":"","group":"a8eba456.9540c8","order":1,"width":0,"height":0,"options":[{"label":"User","value":"user","type":"text","required":false,"rows":null}],"formValue":{"user":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":300,"wires":[["c1737ded.318eb"]]},{"id":"c1737ded.318eb","type":"function","z":"71b151d8.8537","name":"Input","func":"msg.payload= msg.payload.user\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":300,"wires":[["6c588832.88ef58"]]},{"id":"6159ba83.ee1084","type":"ui_template","z":"71b151d8.8537","group":"a8eba456.9540c8","name":"Display image","order":3,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1220,"y":320,"wires":[[]]},{"id":"e704461d.d7ef08","type":"switch","z":"71b151d8.8537","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":300,"wires":[["5179c7e.4d5bf38"],["421f7a9d.904644"]]},{"id":"f139149c.3cf058","type":"function","z":"71b151d8.8537","name":"Image Reset","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":320,"wires":[["6159ba83.ee1084"]]},{"id":"5179c7e.4d5bf38","type":"function","z":"71b151d8.8537","name":"Options Parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.generic[0].options;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.generic[0].options[i].label\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":280,"wires":[["c228d2ff.29867"]]}]